<%@ Master Language="VB" Inherits="System.Web.Mvc.ViewMasterPage" %>
<%-- The following line works around an ASP.NET compiler warning --%>
<%= ""%>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head id="Head1" runat="server">
    <title>
        <asp:ContentPlaceHolder ID="TitleContent" runat="server"></asp:ContentPlaceHolder>
    </title>
    <script src="<%= Url.Content("~/Scripts/jquery-1.4.1.js") %>" type="text/javascript"></script>
    <script src="<%= Url.Content("~/Scripts/MicrosoftAjax.debug.js") %>" type="text/javascript"></script>
    <script src="<%= Url.Content("~/Scripts/MicrosoftMvcAjax.debug.js") %>" type="text/javascript"></script>
    <script src="<%= Url.Content("~/Scripts/jquery.validate.js") %>" type="text/javascript"></script>
    <asp:ContentPlaceHolder ID="ViewSpecificHead" runat="server" />
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    
</head>
<body>
    
    <div class="page">
        <div class="header">
            <div class="title">
                <h1>
                    MVC 2/ AJAX/ NHibernate/ Fluent / Repository Pattern
                </h1>
            </div>
            <div class="loginDisplay">
 
            </div>
            <div class="loginDisplay hideSkiplink">
                    <%= Html.ActionLink("Home", "Index", "Home")%>
                    <%= Html.ActionLink("Search", "Index", "TCSearch")%>
                    <%= Html.ActionLink("Browse", "Index", "TCBrowse")%>
                    <%= Html.ActionLink("Report", "Index", "TCReport" )%>
                    <%= Html.ActionLink("Manage", "Index", "TCManage")%>

            </div>
        </div>
        <div class="main">
            <asp:ContentPlaceHolder ID="MainContent" runat="server"/>
        </div>
        <div class="clear">
        </div>
                    <div class="loginDisplay hideSkiplink">
                    <%= Html.ActionLink("Home", "Index", "Home")%>
                    <%= Html.ActionLink("Search", "Index", "TCSearch")%>
                    <%= Html.ActionLink("Browse", "Index", "TCBrowse")%>
                    <%= Html.ActionLink("Report", "Index", "TCReport" )%>
                   <%= Html.ActionLink("Manage", "Index", "TCManage")%>

    </div>
    </div>
 
    <div class="footer">

        @BWD 2010 All Rights Reserved
    </div>
   
</body>
</html>


